html
{
	height: 100%;
}

h1 {
	margin-bottom: 30px;
}

#myface {
	width: 250px;
	height: 250px;
	background-size: 250px;
	background-image: url("../myface.jpg");\
	background-repeat: no-repeat;
	background-position: center;
}

#myface:hover {
	width: 250px;
	height: 250px;
	background-size: 250px;
	background-image: url("../myface2.jpg");\
	background-repeat: no-repeat;
	background-position: center;
}

#title1 {
	color: #31439B;

}

#title2 {
	color: #000066;

}

.menu {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 176px;
}

.bq {
	width: 50%;
	margin: 0 auto;
	font-style: italic;
}

.notification
{
	margin-top: 40px;
	font-size: 24px;
}

body
{

    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}